{
  "root": true,
  "extends": ["eslint:recommended", "plugin:astro/recommended", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {}
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "rules": {
    // allow console.log during development only
    "no-console": ["error", { "allow": ["warn", "error", "debug"] }],
    // allow ts-ignore with description
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-ignore": "allow-with-description"
      }
    ],
    "no-inner-declarations": "off",
    "@typescript-eslint/triple-slash-reference": "off"
  }
}
