root: true
extends:
  - eslint:recommended
  - plugin:svelte/recommended
  - prettier
  - plugin:@typescript-eslint/recommended
parserOptions:
  sourceType: module
  ecmaVersion: 2020
  extraFileExtensions:
    - .svelte
env:
  browser: true
  es2017: true
  node: true 
rules:
  '@typescript-eslint/ban-ts-comment': 
    - error
    - ts-ignore: 'allow-with-description'